@import "../base";

.Profile {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .page-container {

    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 88%;
    margin: 0 6%;
    @include mobile{
      width: 75%;
      margin-top: -15%;
    }
  }
  
  .post {
      cursor: pointer;
    position: relative;
    width: 210px;
    height: 280px;
    margin-inline: 1.6vw;
    margin-bottom: 2vw;
    @include wide {
      width: 285px;
      height: 380px;
      span{
          font-size: 1.5rem;
      }
    }
    @include mobile{
      width: 170px;
      height: 212px;

      img{
        @include mobile{
          width: 170px;
          height: 212px;
        }
      }
    }
    span {
      
      font-weight: bold;
      font-size: 1.2rem;
      
      svg{
          margin-right: 5px;
      }
    }
    .img-info.rdate {
        color: rgba($color: #FFFFFF, $alpha: .7);
      display: block;
      position: absolute;
      left: 5%;
      top: 89%;
    }
    .img-info.like-count,
  .img-info.comment-count {
      color: white;
    display: none;
  }
    &:hover{
        

        .img-info.rdate {
            display: none;
          }
        
        .img-info.like-count{
            
            position: absolute;
            display: inline;
            top: 45%;
            left: 25%;
            opacity: 1;
        }
        .img-info.comment-count {
            position: absolute;
          display: inline;
          top: 45%;
          left: 55%;
          opacity: 1 ;
        }
        img{
            -webkit-filter: brightness(80%);
            filter:brightness(80%);
        }
      }
  }
  

  img {
    position: relative;
    width: 210px;
    height: 280px;
    @include wide {
      width: 285px;
      height: 380px;
    }
  }
  .null-page{
    font-weight: bold;

  }
}
