@import "../base";

.SearchToolBox {
    position: relative;
    top: 18px;
    height: 400px;
    width: 400px;
    background-color: white;
    z-index: 100;
    opacity: 0;
    transition: 0.5s all ease;
    display: none;
}
.SearchToolBox.active {
    display: block;
    opacity: 1;
    .title-tab {
        display: flex;
    }
    .content-tab{
        height: 100%;
        .content.active-content{
            a:link {
                color: black;
                text-decoration: none;
            }
            li{
                list-style: none;
            }
            li.focus{
                background-color: aquamarine;
            }
        }
        .content{
            width: 100%; 
        }
    }
}
