@import "../base";


.List{
    width: 100vw;
    
    
.list-section{
    width: 100%;
    padding: 0 12%;    margin-top: 30px;
    margin-left : 35px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .ImgBox{
        margin: 40px 30px;
    }

 

}
}
