@import "../base";

.SubNav{
    position: static;
    margin-top: 80px;
    height: 60px;
    width: 100%;
    background-color: white;
    border-bottom:1px solid $primary;
    >div{
        display: none;
    }
    div.main{
        display: block;
        height: 100%;
        
        .buttons-section{
            display: flex;
            flex-direction: row;
            height: 100%;
            align-items: center;
            justify-content: space-evenly;

            button{
                background: none;
                border: none;
                cursor: pointer;
                font-weight: 700;
                font-size: 20px;
                
            }
            button:hover{
                border-bottom: 3px solid $primary;
            }
        }

    }
}
.SubNav.login{
    
    height: 120px;
    width: 100%;


    >div{
        display: none;
    }
    div.login{
        display: flex;
        flex-direction: column;
        margin-inline: 12%;
        margin-top: 20px;
        display: block;
        
        .subnav-main-section{
            h1{
                font-weight: 600;
            }
        }
    }
}
.SubNav.detail{
    position: relative;

    height: 120px;
    width: 100%;
    

    >div{
        display: none;
    }
    div.detail{
        display: flex;
        flex-direction: column;
        margin-inline: 12%;
        margin-top: 20px;
        display: block;
        
        .subnav-main-section{
            h1{
                font-weight: 600;
            }
        }
    }
}
.SubNav.ranking{
    >div{
        display: none;
    }
    div.ranking{
        display: block;
    }
}
.SubNav.profile{
    >div{
        display: none;
    }
    div.profile{
        display: block;
    }
}
.SubNav.mypage{
    >div{
        display: none;
    }
    div.mypage{
        display: block;
    }
}
.SubNav.list{
    >div{
        display: none;
    }
    div.list{
        display: block;
    }
}