@import "../base";
$border: 1px solid rgb(219,219,219);

.Detail {
  margin: 0 17%;
  margin-bottom: 10%;
  display: flex;
  flex-direction: row;

  @include media(mobile) {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: auto;
  }

  .detail-main-section {
    display: flex;
    flex-direction: column;
    width: 55%;
    height: 100%;
    @include media(mobile) {
      width: 100%;
      height: 50%;
      align-items: center;
    }
    .img-container {
      img {
        position: absolute;
        max-width: 35%;
        
        height: 830px;
        @include media(mobile) {
          max-width: 100%;
          max-height: 100%;
        }
      }

      .tag-container {
        position: absolute;

        .tag {
          position: absolute;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          div {
            position: relative;
            background-color: white;
            border: $border;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            margin-right: 5px;
          }

          span.tag-label {
            position: relative;
            background-color: black;
            color: white;
            font-size: 15px;
            font-weight: 600;
            padding: 5px 20px;
            border-radius: 15px;
          }
          @include media(mobile, tablet) {
            div {
              width: 8px;
              height: 8px;
            }
            span.tag-label {
              font-size: 12px;
              font-weight: 600;
              padding: 5px 20px;
              border-radius: 15px;
            }
          }
        }
      }
      @include mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
      }
    }
    .comment-container {
      


      .like-share-section {
        width: 100%;
        height: 75px;
        border-inline: $border;
        display: flex;
        overflow-x: hidden;

        .like-section {
          width: 100%;
          height: 100%;

          overflow-x: hidden;

          .icon-section {
            display: flex;
            flex-direction: row;
            overflow-x: hidden;
            margin-left: 15px;

            .like-button-container {
              width: 20%;
              height: 100%;
            }
            .share-section {
              display: flex;
              transition: margin 0.5s ease-in;
              margin-left: 80%;
              @include tablet {
                margin-left: 70%;
              }
              @include wide {
                margin-left: 82%;
              }
              .share-icons {
                display: flex;
                flex-direction: row;
              }
              button.facebook {
                svg {
                  color: #1b72eb;
                }
              }
              button.twitter {
                svg {
                  color: #1c9bef;
                }
              }
              button.pinterest {
                svg {
                  color: #e60019;
                }
              }
            }
            .share-section.active {
              margin-left: 45%;
              @include tablet {
                margin-left: 26%;
              }
            }
            svg {
              font-size: 35px;
            }

            button {
              margin-top: 4px;
              background: none;
              border: none;
            }
            button.like:hover {
              svg {
                color: rgb(237, 73, 113);
              }
            }
          }
          .letter-section {
            margin-left: 20px;
            span {
              font-weight: 700;
              font-size: 15px;
              cursor: pointer;
            }

            span:hover {
              text-decoration: underline;
              text-decoration-thickness: 2px;
            }
          }
        }
      }
      .comment-list-section {
        width: 100%;
        min-height: 50px;
        border-inline: $border;
        .comment{
          width: 100%;
          padding-block: 10px 20px;

          display: flex;
          flex-direction: row;
          .comment-profile-section{
            width: 13%;
            height: 100%;
            display: flex;
            flex-direction: row;
            .comment-profile-image{
              margin-left: 15px;
              img{
                margin-top: 2px;
                width: 32px;
                height: 32px;
                border-radius: 50%;
              }
            }
          }
          .comment-main-section{
            width: 80%;
            display: flex;
            flex-direction: column;
            height: 100%;
          .comment-content-section{
            font-size: 15px;
            width: 85%;

            .comment-profile-username{
              font-weight: 800;
              cursor: pointer;
              text-decoration: none;
              color: black;
              &:hover{
                text-decoration: underline;
                
              }
            }
            span:nth-child(2){
              margin-left: 10px;

            }
            span:nth-child(2)[contentEditable=true]{
              outline: 1px solid black;
            }
            span:nth-child(2)[contentEditable=true]:focus{
              outline: 1px solid black;
            }
            >div{
              display: flex;
            textarea{
              width: 80%;
              height: 100px;
              resize: none;
              border: 1px solid $grey;
              padding:2px 5px;

            }
            textarea:focus{
              outline: none;
            }

            button{
              border: none;
              background: none;
              cursor: pointer;
              color: $grey;
              
            }
            button:nth-child(2){
              font-size: 17px;
              svg{
                path{
                width: 16.88px;
                height: 15px;
              }
              }
            
          }
          }
          }
          .comment-content-sub-section{
            display: flex;
            flex-direction: row;
            font-size: 11px;
            color: $grey;
          
          .comment-reply-section{
            margin-left: 8px;
            span{
              cursor: pointer;
              font-weight:600;
            }
          }

        }
        
        }
        .comment-edit-section{
          span{
            cursor: pointer;
          }
          .comment-edit-menu{
            position: absolute;
            border-radius: 2px;

              box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
              background-color: white;
              
            button{
              
              background: none;

              border: none;
              
              padding: 15px 35px;
              font-size: 15px;
              font-weight: 500;
              svg{
                color: rgb(92, 92, 92);
                margin-right: 10px;
              }
            }
            button:hover{
              background-color: $primary;
            }
            button:nth-of-type(2){
              padding-top: 10px;
            }
          }
        }
        }
        h1 {
          text-align: center;
          font-size: 20px;
        }
      }
      .comment-input-section {
        height: 66px;
        .comment-input-form {
          height: 100%;
          display: flex;
          flex-direction: row;

          justify-content: flex-start;

          .comment-input-container {
            width: 85%;
            height: 100%;
            display: flex;
            border: $border;
            
            .img-section {
              margin-top: 2px;
              img {
                margin-left: 5px;

                width: 60px;
                height: 60px;
                border-radius: 50%;
              }
            }
            input[type="text"] {
              background: none;
              border: none;

              margin-left: 5px;
              width: 100%;
            }
            input[type="text"]:focus{
              outline: none;
            }
          }
          .button-section {
            width: 15%;
            height: 100%;
            border: $border;
            border-left: none;
            button {

              background: none;
              border: none;
              
              height: 95%;
              width: 95%;

              svg {
                font-size: 20px;
              }
            }
            button:disabled{
              background: none;
              border: $border;
            }
          }
        }
        > div:nth-child(2){
          margin-left: 1px;
          width: 200px;
          max-height: 220px;
          border: 1px solid $primary;
          button{
            width: 100%;
            height:50px;
            border: none;
            border-bottom: 1px solid $primary;
            background:none;
            display: flex;
            align-items: center;
            justify-content: center;
            img{
              width: 32px;
              height: 32px;
              border-radius: 50%;
            }
          }
        }
      }
    }
  }
  .detail-side-section {
    width: 45%;
    height: auto;
    .title-header{

      margin-left: 15px;
      font-weight: 700;
      text-transform: capitalize;
      font-size: 27px;
    }
    .img-info-container {
      width: 100%;
      height: 228px;

      border: $border;
        span{
          font-size: 20px;
        }
        a.title-profile, span.title-product{
          font-weight: 600;
          cursor: pointer;
         
      }
      a.title-profile{
        text-decoration: none;
        color: black;
        font-size: 20px;
      }
      a.title-profile:hover,span.title-product:hover{
        text-decoration: underline;
        text-decoration-thickness: 2px;
      }

      .hashtag-container {
        .hashtag {
          color: rgb(0, 55, 107);
          background: none;
          cursor: pointer;
          border: none;
          font-weight: 500;
          text-decoration: none;
          margin-left: 5px;
        }
      }
    }
    .product-container {
      width: 100%;

      margin-top: 2%;
      border: $border;
      
      .product{
        display: flex;
        margin:  0 10% ;
        padding: 5% 0;
        
        .product-img-section{
          img{
            max-width: 80px;
            max-height: 90px;
          }

        }
        .product-info-section{
          margin-left: 5%;
          display: flex;
          flex-direction: column;
          align-items:  flex-start;

          .product-brand{
            font-weight: 700;
            text-decoration: none;
            background: none;
            border: none;
            cursor: pointer;

          }
          .product-brand:hover{
            text-decoration: underline;
            text-decoration-thickness: 1.5px;
          }
          a{
            text-decoration: none;
            color: black;
          }
          .product-name{
            font-size: 15px;
            cursor: pointer;
            font-weight: 500;
          }          
          .product-name:hover{
            text-decoration: underline;

          }
        }
      }
    }
    .related-img-container {
      width: 100%;

      margin-top: 2%;
      border: $border;
      .header-section{
        margin-top: 5px;
        display: flex;
        justify-content: space-between;
        button.more{
          margin-top: 5px;
          background: none;
          border: none;
          font-size: 18px;
          margin-right: 10px;
        }

      }
      .main-section{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-inline: 5%;
        padding-bottom: 5%;
        .masonry-grid{
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          margin-left: px;
          padding-block: 0; 
          width: auto;
        }
        .masonry-grid-column{
          margin-left: -1px;
          background-clip: padding-box;

        }
        
        
        img{
          margin-top: 4px;
          max-width: 95%;
          
        }
        img:hover{
          opacity: 0.5;
          cursor: pointer;
        }
        div.more{
          height: 100px;
          position: relative;
          img{
            position: absolute;
          opacity: 0.5;
        }
        span{
          font-size: 20px;
          position: absolute;
          top: 50px;
          left: 55px;
          font-weight: 700;
        }
        }
      }
    }
    @include mobile {
      width: 100%;
      height: 50%;
    }
  }
}
