.Main{
    display: flex;
    flex-direction: row;
    margin: 0 12%;
    .side-section{
        width: 25%;

    }
    .main-section{
        width: 75%;
        .first-section{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        }
    }
    
}
