@import "../base";

.MyPage{
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .profile-change{
        width: 100vw;
        justify-content: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .profile-nav{

            width: 300px;
            height: 1500px;
            padding: 10px;
            margin-right: 30px;
            justify-content: center;

            .profile-img{
                width: 200px;
                height: 200px;
                
                border-radius: 50%;
                border: 1px solid black;
                margin: auto;
                img{
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                }
            }
            
            .p-edit-container{

                width: 95%;
                padding: 10px;
                border-bottom: 1px solid dimgray;

                .profile-edit{

                    display: block;
                    input{
                        margin-block: 10px;
                    }
                    label{
                        margin:10px;
                    }
                }
               
                .p-edit-btn{
                    width: 250px;
                    padding: 8px 18px;
                    border-radius: 4px;
                    border: none;
                    background: #141414;
                    color: #fff;
                    font-size: 14px;
                    cursor: pointer;
                    margin-top: 20px;
                    
                }
                .pass-btn{
                    width: 250px;
                    padding: 8px 18px;
                    border-radius: 4px;
                    border: none;
                    background: #141414;
                    color: #fff;
                    font-size: 14px;
                    cursor: pointer;
                    margin-top: 20px;
                    
                }
             
                
            }

            .camera {
                margin-left: 200px;
            }
            .close{
            
                margin-left: 250px;
                background: none;
            }


        }
        .btt{
           
            .pass-save{
                margin-left: 5px;
            }
            .edit-save{
                margin-left: 5px;
            }
            
        }
        .password{
            display: block;
            margin-top: 20px;
            input{
                margin-block: 10px;
            }
        }
        
        // .profile-info{
        //     width: 600px;
        //     height: 200px;
        //     margin: 20px;
        //     padding: 20px;
        //     background: lightgrey;
        //     border-radius: .25rem;
        //     float: right;
         
        //     .profile-index{
        //         width: 400px;
        //         float: left;
        //     }
        
        // }

        // .profile-info ul{
        //     width: 400px;
        // }
        .profile-show{

            width: 50%;
            height: 100vw;

            .tab {
                width: 800px;
            }  

        }        


    }

    // .profile-follow{
        
    //     width: 840px;
    //     height: 500px;
    //     background: lightgrey;
    //     border-radius: .25rem;
    // } 

   

}






