@import "../base";

.ImgBoxBig{

        width: 500px;
        height: 700px;

        .img-container{
            position: relative;
            width: 450px;
            height: 650px;

            img{
                position: absolute;
                width: 450px;
                height: 650px;

            }
            .img-rector{
                position: absolute;
                
                display: flex;
                svg{
                    color: white;
                    font-size: 15px;
                    margin: 0%;
                    padding: 0%;
                }
                .product-tag-container{

                    width: 120px;
                    height: 40px;

                }
                .product-tag-info-section{
                    width: 120px;
                    height: 40px;
                    background-color: white;
                    display: flex;
                    flex-direction: row;
                    .product-tag-img-section{
                        width: 40px;
                        img{
                            width: 40px;
                            height: 40px;
                        }
                    }
                    .product-tag-text-section{
                        width: 80px;
                        display: flex;
                        flex-direction: column;
                        .product-name{
                            font-size: 9px;
                            font-weight: 700;
                        }
                        .product-price{
                            text-align: right;
                            margin-top: 5px;
                            font-size: 10px;
                            font-weight: 300;
                        }
                    }
                }

            }
        }
        
        .info-container{
            position: relative;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            .profile-section{

                margin-left: 5px;
                display: flex;
                flex-direction: row;
                .profile-img-section{   
                    margin-top: 10px;            
                    img{
                        width: 90px;
                        height: 90px;
                        border-radius: 50%;
                    }
                }
                .profile-info-section{

                    margin-left: 10px;
                    display: flex;
                    flex-direction: column;
                    vertical-align: middle;

                    span.username{
                        font-size: 30px;
                        font-weight: 700;
                    }
                    span.height{

                        font-size: 24px;
                 
                    }
                }
            }
            .button-section{
                width: 25%;

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                button{
                    margin-top: 4px;
                    background: none;
                    border: none;
                    svg{
                        font-size: 30px;
                        
                    }
                    
                }
                span{
                    margin-top: -5px;
                    font-size: 16px;
                    font-weight: 700;
                }
                button:hover{
                    svg{
                        color: rgb(237, 73, 113);
                    }
                }
                
            }
        }
    }