$primary: #bfd7ed;
$secondary: #c0e7f6;
$grey: rgb(142, 142, 142);
$error: rgba(221, 44, 0, 0.87);
$breakpoint-mobile: 335px;
$breakpoint-tablet: 758px;
$breakpoint-desktop: 1024px;
$breakpoint-wide-screen: 1440px;
$creat-bg: #f9f8f7;
$boxshadow-bottom:inset 0px -1px 0px #f3f3f4;
$boxshadow-all:inset 0px -1px 0px #f3f3f4;
@mixin mobile {
  @media (min-width: #{$breakpoint-mobile}) and (max-width:#{$breakpoint-tablet - 1px}) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: #{$breakpoint-tablet}) and (max-width:#{$breakpoint-desktop - 1px}) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: #{$breakpoint-desktop}) and (max-width:#{$breakpoint-wide-screen - 1px}) {
    @content;
  }
}
@mixin wide {
  @media (min-width: #{$breakpoint-wide-screen+1}) {
    @content;
  }
}

@mixin box_shadow($level) {
  @if $level == 1 {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  } @else if $level == 2 {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  } @else if $level == 3 {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  } @else if $level == 4 {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  } @else if $level == 5 {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  }
}

@mixin media($keys...) {
  @each $key in $keys {
    @if ($key == mobile) {
      @include mobile {
        @content;
      }
    } @else if($key == tablet) {
      @include tablet {
        @content;
      }
    } @else if($key == desktop) {
      @include desktop {
        @content;
      }
    } @else if($key == wide) {
      @include wide {
        @content;
      }
    }
  }
}
