@import "../base";
.Login {
  height: 60vh;
  display: flex;
  justify-content: center;

  @include media(mobile){
    height: 75vh;
    margin-top: 80px;
    margin-bottom: -5%;
  }
  @include tablet{
    margin-top: 120px;
    margin-bottom: -5%;
  }
  .main-container {
  
    @include media(mobile){
        margin: 0;
        
        flex-direction: column-reverse;
        width: 100vw;

    }
      
    @include box_shadow(1);
    margin: 0 25%;
    height: 100%;
    display: flex;
    width: 800px;
    align-items: center;
    justify-content: center;

    .toggle-container {
      transition: all 0.7s ease;
      transform: translateX(-150%);
      width: 320px;
      @include media(mobile){
        width: 100%;
        height: 25%;
        transform: translate(0,-30%);

        button{
          margin-top: 0!important;
        }
      }
      height: 100%;

      background: linear-gradient(114deg, rgba(51,44,179,1) 0%, rgba(9,11,51,1) 0%, rgba(161,135,135,1) 93%);

      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      span {
        color: #d9c0c0 ;
        font-size: 30px;
        font-weight: bold;
      }
      button {
        margin-top: 100px;
        width: 50%;
        background: none;
        border: 3px solid #d9c0c0 ;
        border-radius: 25px;
        color: #d9c0c0 ;
        padding: 5px 25px;
        text-transform: capitalize;
        font-size: 20px;
        &:focus {
          outline: none;
        }
      }
    }
    .toggle-container.signup {
      transform: translate(0);
      @include mobile{
        
      transform: translateY(270%);
    }
    }
    .form-container {
      width: 480px;
      height: 100%;
      transform: translateX(67%);
      @include media(mobile){
        width: 100%;
        transform: translateY(0);
        height: 60%;
      }
      transition: 0.7s all ease;
      button {
        background-color: rgba(9,11,51,1);
        border: none;
        width: 100px;
        height: 40px;
        font-weight: bold;
      }
      input {
        border: none;
        background: none;
        box-shadow: 0 5px 2px -5px #333;

        width: 250px;
        &::placeholder {
          font-weight: bold;
        }
        &:focus {
            background-color: white!important;
          box-shadow: 0 5px 4px -5px #d9c0c0;
        }
      }
      a.forget-password-button {
        margin-top: -5px;
        margin-left: -90px;
        font-size: 12px;
        text-decoration: none;

        text-transform: capitalize;
        &:hover{
            text-decoration: underline;
        }
      }
    }
    
    .form-container.login {
      transform: translateX(0);
      @include mobile{
        width: 100%;
        transform: translateY(-45%);
        height: 60%;
      }
    }
  }
  h2 {
    font-size: 30px;
    text-transform: capitalize;
    color: rgba(9,11,51,1);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    text-align: center;
    
  }
  p {
    text-align: center;
    font-weight: bold;
    font-size: 15px;
  }

  #login-form-container {
    
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    form {
      width: 100%;
      height: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
    }
    @include mobile{
      width: 100%;
      form{
        height: 60%;
      }
    }
    #social-login-form-container {

      > a.facebook-button {
        text-decoration: none;
        span{
          
          color: white;
          font-weight: bold;
        }
      }
      .social-login {
        background-color: rgba(161,135,135,1);
        width: 247px;
        border-radius: 6px;
        height: 40px;
        display: flex;
        align-items: center;
        .icon-container {
          width: 44px;
          height: 40px;
          display: flex;
          justify-content: center;
          align-items: center;

          svg {
            width: 24px;
            height: 24px;
            color: white;
          }
        }
        span {
          margin-right: 12px;
          padding: 0;
          padding-top: 1px;
          font-family: Helvetica, Arial, sans-serif;
          color: white;
          font-weight: bold;
          font-size: 16px;
        }
      }
    }
  }
  #signup-form-container {
    width: 100%;
    height: 100%;
    display: flex;
    @include mobile{
      width: 100%;
    }
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    form {
        margin-top: -50px;
      height: 60%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
    }

    button {
      &:focus {
        outline: none;
      }
    }
  }
}
